body{
    margin: 0;
    display:grid;
    height: 80vh;
    grid-template-areas:
    "header header"     /* região top */
    "main aside"        /* região mid */
    "footer footer";    /* região bottom */

    grid-template-rows: 40px 1fr 30px; /*! header: 40px heigh, main: 1fr, footer: 30px */

    grid-template-columns: 1fr 500px; /*! main: 1fr width, aside: 500px */
    /** grid-template-rows -> para setar as alturas */
    /** grid-template-columns -> para setar as larguras */

    /*1fr significa 1 fração, que ocupa todo o espaço tirando o 40px e 30px */
}

header{
    font-size: 40px;

    grid-area: header;

    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

main{
    font-size: 15vw;

    grid-area: main;

    background-color: red;
}

aside{
    font-size: 5vw;

    grid-area: aside;
    
    background-color: blue;
}

footer{
    font-size: 30px;

    grid-area: footer;

    background-color: gray;
}