* {
    /* @keyframes duration | timing-function | delay |
    iteration-count | direction | fill-mode | play-state | name */
    animation: 3s ease-in 1s 2 reverse both paused slidein;

    /* @keyframes name | duration | timing-function | delay */
    animation: slidein 3s linear 1s;

    /* @keyframes name | duration | timing-function | delay | fill-mode*/
    animation: slidein 3s linear 1s backwards;

    /* @keyframes name | duration */
    animation: slidein 3s;

}